/* -- Universal Styles -- */
html{
    background-color: white;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

.container{
    max-width: 960px;
    margin: auto;
}


/* -- Navigation Bar --*/
.main-menu{
    background: url(/headshot.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 1rem;
    height: 30rem;
}


h1{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
}

nav{
    padding: 1rem 0;
    background-color: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav div{
    display: flex;
    align-items: center;
}

ul{
    margin-right: 1rem;
}

ul li{
    display: inline;
}
li a{
    color: white;
    text-decoration: none;
}
/* -- Footer -- */