/* -- Universal Styles -- */
html{
    background-color: white;
    font-family: Helvetica, sans-serif;
    font-size: 28px;
}

.container{
    max-width: 960px;
    margin: auto;
}


/* -- Navigation Bar --*/
h1{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
}

nav{
    padding: 1rem 0;
    background-color: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav div{
    display: flex;
    align-items: center;
}

ul{
    margin-right: 1rem;
}

ul li{
    display: inline;
}
li a{
    color: white;
    text-decoration: none;
}

/* -- Main Body -- */
#name-photo img{
    width: 50rem;
    border-radius: 1rem;
}
/* -- Footer -- */