/* -- Universal Styles -- */
html{
    background-color: white;
    font-family: Helvetica, sans-serif;
    font-size: 35px;
}

.container{
    max-width: 960px;
    margin: auto;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

header,footer{
    border: 5px solid black;
}


/* -- Navigation Bar --*/
h1{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
}

nav{
    padding: 1rem 0;
    background-color: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav div{
    display: flex;
    align-items: center;
}

ul{
    margin-right: 0.75rem;
}

ul li{
    display: inline;
    padding: 0.25rem;
}
li a{
    color: white;
    text-decoration: none;
}

#logo{
    margin-left: 1rem;
}
/* -- Main Body -- */
#name-photo img{
    width: 30rem;
    border-radius: 1rem;
    border: 5px solid cadetblue;
}

/* -- Footer -- */
footer{
    font-size: 28px;
    font-weight: bold;
    color: white;
    background-color: cadetblue;
}


.info ul li{
    padding-left: 2rem;
    align-items: center;
}
